.paytype-list .bank {border: 1px solid rgb(221, 221, 221); width: 145px; height: 32px; text-indent: -9999px; margin-left: 5px; float: left; cursor: pointer; background-image: url("../assets/images/banklist.png"); background-repeat: no-repeat;}
.paytype-list .bank--alipay {background-position: 0px -1023px;}
.paytype-list .bank--tenpay {background-position: 0px -1062px;}
.paytype-list .bank--icbc {background-position: 0px -379px;}
.paytype-list .bank--cmb {background-position: 0px -418px;}
.paytype-list .bank--ccb {background-position: 0px -58px;}
.paytype-list .bank--abc {background-position: 0px -20px;}
.paytype-list .bank--spdb {background-position: 0px -338px;}
.paytype-list .bank--cib {background-position: 0px -458px;}
.paytype-list .bank--cebb {background-position: 0px -98px;}
.paytype-list .bank--boc {background-position: 0px -178px;}
.paytype-list .bank--cmbc {background-position: 0px -139px;}
.paytype-list .bank--bob {background-position: 0px -588px;}
.paytype-list .bank--zxyh {background-position: 0px -259px;}
.paytype-list .bank--gdb {background-position: 0px -220px;}
.paytype-list .bank--pingan {background-position: 0px -874px;}
.paytype-list .bank--bofc {background-position: 0px -911px;}
.paytype-list .bank--pspc {background-position: 0px -500px;}
.paytype-list .bank--bjrcb {background-position: 0px -1220px;}
.paytype-list .bank--hzcb {background-position: 0px -1259px;}
.paytype-list .bank--shrcb {background-position: 0px -1299px;}
.paytype-list .bank--upopdebit {background-position: -4px -1377px;}
.paytype-list .bank--upopcredit {background-position: -4px -1427px;}
.paytype-list .bank-list {overflow: hidden; clear: both; margin-top: 10px; margin-left: 0px; display: none; -ms-zoom: 1;}
.paytype-list .bank-list .item {margin: 0px 30px 10px 0px; font-size: 14px; float: left;}
.paytype-list .bank-list .radio {width: 13px; margin-top: 10px; margin-left: 1px; float: left;}
.paytype-list .bank-list--xpay {margin: 5px 0px -10px; top: -20px; overflow: hidden; clear: both; position: relative; -ms-zoom: 1;}
.paytype-list .bank-list--xpay .item {padding: 21px 0px 0px; margin-bottom: 0px;}
.paytype-list .bank-list--xpay .bank {height: 40px;}
.paytype-list .bank-list--xpay .radio {margin-top: 15px;}
.paytype-list .bank-list--upop .bank {height: 38px;}
.paytype-list .bank-type {margin: 10px 0px; padding: 0px 0px 0px 18px; border: 0px currentColor; font-size: 14px; font-weight: normal; position: relative; cursor: pointer;}
.paytype-list .bank-type__hint {color: rgb(153, 153, 153); font-size: 12px;}
.paytype-list .bank-type__icon {background: url("http://s0.meituan.net/www/css/i/sp-fold-icon.vdd0d955e.png") no-repeat -9999px -9999px; left: 2px; top: 8px; width: 9px; height: 5px; overflow: hidden; position: absolute; _left: -16px;}
.paytype-list .bank-area .bank-type__icon {}
.paytype-list .bank-area--open .bank-type__icon {background-position: 0px -10px;}
.paytype-list .bank-area--open .bank-list {display: block;}
.paytype-list .choose-other-bank {height: 18px; padding-left: 20px; font-size: 12px; margin-top: 8px; float: left;}
.paytype-list .choose-other-bank .tri {border-width: 5px; border-style: solid dashed dashed; border-color: rgb(0, 187, 187) transparent transparent; width: 0px; height: 0px; line-height: 0; font-size: 0px; margin-top: 7px; margin-left: 3px; position: absolute;}
